@import url('./variables.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  
  @apply bg-slate-1 text-slate-12;
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Google / Safari */
}
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.PiuInfo__button {
  @apply flex gap-2 items-center justify-center;
}
.PiuInfo__buttonIcon {
  width: 24px;
  height: 24px;
  transition: color .4s;

  @apply text-white;
}
.PiuInfo__buttonIcon:hover {
  color: hsl(225, 78%, 82%);

}
.PiuInfo__buttonIcon.marked {
  @apply text-indigo-9;
}

.SideBar__nav li {
  display: flex;
  align-items: center;
  gap: 10px;

  width: 92%;
  padding: 12px;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}
.SideBar__nav li.selected {
  @apply bg-indigo-9;
}