.CreatePiu__wrap {
  position: relative;
}
.CreatePiu__textarea {
  width: 100%;
  padding: 16px 16px 80px;
  border-radius: 8px;
  resize: none;
  @apply bg-slate-8;
}
.CreatePiu__textarea::placeholder {
  font-size: 16px;
  @apply text-slate-12;
}
.CreatePiu__textarea.maxLen,
.CreatePiu__contador.maxLen {
  @apply text-red-400;
}

@media screen and (max-width: 380px) {
  .CreatePiu__icons {
    display: none;
  }
  .CreatePiu__contador {
    left: 10% !important;
  }
}